@section scripts{
    <script src="~/Scripts/angular/transactions.js"></script>
}

<body ng-app="app">
<p class="row">
    <div>
        <details>
            <summary style="font-size: 21px;">
                Create transaction
            </summary><br>
            <form ng-submit="submit()" ng-controller="TransactionCommitController">
                <p class="block">
                    <label>Recipient:</label>
                    <input type="text" ng-model="RecipientId" required>
                </p>
                <p class="block">
                    <label>Amount:</label>
                    <input type="number" min="0" ng-model="Amount" required>
                </p>
                <p><input class="btn btn-default" type="submit" id="trnsubmit" value="Submit transaction" /></p>
            </form>
        </details>
    </div><br>
<div>
    <details>
        <summary style="font-size: 21px;">
            Transaction history
        </summary><br>
        <div class="container">
            <p>
            <input type="text" placeholder="Search Transaction" ng-model="searchTransaction" />
            </p>

            <div ng-controller="TransactionsController">
                <table class="table">
                    <tr>
                        <th>Date/Time of the transaction</th>
                        <th>Correspondent Name</th>
                        <th>Transaction amount</th>
                        <th>Resulting balance</th>
                    </tr>
                    <tr ng-repeat="r in transactions | filter : searchTransaction  | orderBy:'-Date' ">
                        <td>{{r.Date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{r.CorrespondentName}}</td>
                        <td style="color:{{r.TransactionType == 1 ? 'green' : 'red'}}">{{r.TransactionType == 1 ? "Credit:" : "Debit:"}} {{r.Amount}} PW</td>
                        <td>{{r.MyResultingBalance}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </details>
</div>
</p> 
</body>